html, body, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, monospace;
}

.container {
    text-align: center;
}

p {
    margin: 10px 0;
}

.defaultButton {
    max-width: 300px;
    margin: 10px;
    padding: 10px !important;
    height: auto;
    background-color: #e8f5ff;
    border: 2px solid #000000;
    border-radius: 5px;
    text-transform: uppercase;
}